body{
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

/*Encabezado*/
header{
    margin: 0 2px 0 200px;
    padding: 0 2px;
}

.logotipo{
    width: 407px;
    height: 150px;
    
    border: 0;
}

.busca {
    width: 544px;
    height: 55px;
    float: right;
  }

  /*Menu de navegacion*/
nav {
    background-color: #77C94F;
    font-family: NotoSans, sans-serif;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
nav ul{
    padding-inline-start: 0;
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0 10%;
    
}

nav li{
    list-style-type: none;

}
nav li a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    padding: 1em;
}

/*Cuerpo*/
main{
    margin: 0 120px 0 120px;
}

.prod{
    display: inline-block;
}
