
/* Portada*/
.portada{
    display: flex;
    width: 100%;
}

.portada .imag{
    background-image: url(../img/garden-garden-tools-watering-can-rake-shovel-hoe.jpg);
    width: 60%;
    height: 400px;
}

.portada .titulo {
    background-color: #A49263;
    font-family: NotoSans, sans-serif;
    text-align: center;
    color: white;
    display: flex;
    width: 41%;
    /* align-items: center; */
    flex-direction: column;
    max-height: 400px;
    font-size: 1.2em;
}

.portada .titulo h2{
    padding: 15%;
    color: white;
}
.portada .titulo :last-child{
    margin: -5px;
}

@media screen and (max-width: 890px){
    .portada{
        display: block;
    }
    .portada .imag{
        width: 100%;
        height: 300px;
    }
    .portada .titulo{
        width: 100%;
        height: 200px;
    }
    .portada .titulo h2{
        padding: 4%;
    }
}

/*Seccion de destacados*/
section h3{
    text-align: center;
    font-size: 1.5em;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista div{
    min-width: 25%;
    margin-top: 10px;
}
.lista div div{
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1em;
}

.lista div div .desc{
    width: 70%;
}

.lista div .precio{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 5%;
}

.lista div button {
    float: right;
    margin-top: -10px;
}

@media screen and (max-width: 745px){
    .lista{
        justify-content: center;
    }
}

/*Modo noche*/
body.dark .portada .titulo{
    background-color: #796b48;
}