body{
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

button , .enviar{
    border-style: solid;
    border-width: thin;
    border-radius: 35px;
    background-color: #EFC741;
    color: white;
    font-weight: bold;
}
a{
    text-decoration: none;
}

/*Encabezado*/
header{
    margin: 0px 10%;
    
}

header span{
    font-size: 1.5em;
}
.btmenu{
    display: none;
    color: white;
    font-size: 1.5em;
}

.logotipo_img{
    max-width: 150px;
    max-height: 100px;
}

.carrmovil{
    display: none;
    color: white;
}

.busca {
    float: right;
    display: flex;

    margin-top: 12px;
    flex-wrap: wrap;
  }

.busca input{
    border: black;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 2em;
}
.busca button{
    background: none;
    border: none;
    /*font-size: 1.5em;*/
    color: black;
}

.busca button span{
    margin-top: 0;
}



  /*Menu de navegacion*/
  nav {
    margin-top: -17px; 
    background-color: #77C94F;
    font-family: Noto Sans, sans-serif;
    width: 100%;
}

nav ul {
    /* margin: 0px 30px; */
    padding: 15px 10%;
    list-style: none;
    /* text-align: center; */
    vertical-align: top;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}

nav li{
    list-style-type: none;

}
nav li a{
    color: white;
    font-size: 1.4em;
    display: block;
}

nav>ul>li.darkmovil{
    display: none;
}

main{
    margin: 0px 10% 0px 10%;
}

/*Menu version movil*/
@media screen and (max-width: 624px){
    header{
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        background-color: #77C94F;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body.dark header{
        background-color: #21610B;
    };

    header span{
        color: white;
        margin-top: 10px;
    }

    .btmenu{
        display: block;
        margin-left: 2%;
    }
    .busca{
        margin:0;
    }
    .carrmovil{
        display: block;
    }

    .busca input{
        display: none;
    }

    .busca button{
        color: white;
    }
    

    nav{
        width: 70%;
        left: -100%;
        margin: 0;
        position: fixed;
        height: 70%;
        min-height: 330px;
    }
    nav ul{
        display: block;
    }

    nav li{
        margin-top: 25px;
    }
    
    nav>ul>li.carrpc{
        display: none;
    }
    
    nav>ul>li.darkpc{
        display: none;
    }

    nav>ul>li.darkmovil{
        display: block;
    }

    main{
        margin: 43.48px 10% 0px 10%;
    }
}

/*Cuerpo*/


small , h1 , h2, .precio{
    color: #39AA02;
    font-family: Noto Sans, sans-serif;
}


.carro{
    border: none;
    width: 125px;
    height: 31px;
}

/*Pie de página*/

footer{
    background-color:  #A49263;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10%;
    font-size: 1.3em;
    margin-top: 20px;

}

/*enlaces*/
footer section{
    width: 60%;
}
footer section div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60%;
}
footer section p{
    margin-left: 10px;
    margin-top: 5px;
}

footer section a{
    color: #CEFF95;
    font-size: initial;
    text-decoration: underline;
}

/*Formulario newsletter*/
footer form{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

footer form label{
    font-size: initial;
}

footer form button {
    /* float: right; */
    width: 200px;
    height: 1.8em;
    background-color: #9FF140;
    font-size: 1.2em;
    color: white;

}

@media screen and (max-width: 1030px){
    nav li a{
        font-size: initial;
    }
}


/* Modo noche*/
body.dark{
    background-color: #1C1C1C;
    color: whitesmoke;
}

body.dark nav{
    background-color: #21610B;
}

body.dark .busca button{
    color: whitesmoke;
    /*El fondo puesto a los botones toma prioridad y aparece
    en el boton de busqueda si no se especifica nada aqui*/
    background: none;
}
body.dark footer{
    background-color: #796b48;
}

body.dark button , body.dark .enviar{
    background-color: #bd9d34;
}